.info-card {
    background-image: url("../../assets/img/frame_red.jpg");
    min-width: 736px;
    max-width: 736px;
    min-height: 552px;
    max-height: 552px;
    display: flex;
    margin: 75px;
    justify-content: center;
    justify-self: center;

}

.info-card-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-family: "helpme";
    letter-spacing: 2px;
}
.info-card-text p {
font-size: 20px;
}
.info-card-text h1 {
font-size: 30px;
}