.error-card {
    color: white;
    font-family: 'Segoe UI';
    font-weight: 100;
    margin: 15px;
    width: 500px;
    background-color: rgb(202, 34, 22);
    padding: 10px;
}

h1 {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 60px;
    margin: 15px;
    
}
a {
    color:white;
}

.error-button {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    background-color: #bfbfbfff;
    padding: 3px 15px 3px 15px;
    margin-left: 15px;

}

